@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&family=Work+Sans:wght@100..900&display=swap');



body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;

}

header {

    background-color: #213555;
    height: 75.90vh;
 
}

section:last-child {

    background-color:none;
    height: 75.9vh;}


section{padding-top: 20px;
    padding-bottom: 20px;}


footer {

        background-color: #213555 !important;
        height: 18vh;
        padding-top: 9vh;
     
    }


main > .container-fluid:nth-child(2) {
        
    height: 85vh;
}



header , main {    padding: 0 8.33vw !important;}

.navbar { background-color:white; color: red;
}

.form-control.is-valid, .was-validated .form-control:valid {

border-color: purple;
background-image: url(../images/check.png);

}


textarea { resize: transparent;}
/*this is for the textarea not to be resizable anymore*/

.modal-title { color: #213555 !important;
padding: 0 10px  !important;}



header>div, main  .container-fluid > div, .carousel-inner, 
.carousel-item {
    height: 100%;
}

.carousel-inner .carousel-item img  { 
   
    height: 100%;
    object-fit: cover;
   
 }

h1,
h2 {

    font-family: 'Crimson Text', serif;
}

h1,
h2,
h3 {
    margin-top: 0;
}

h1 {
    font-size: 40px;
    vertical-align: top;

}

h1,
h3,
header p, section p {
    line-height: 125%;
}

header p {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.75);
}

h3 {
    font-size: 16px;
  
    letter-spacing: 5px;




}




header a, section a {




    font-size: 20px;
    width: 37.5%;

    display: block;

    padding: 11.5px 0;
    border-radius: 5px;

}

section:last-child a{transition-property: backround-color, transform; 
    transition-duration: 2000ms, 5s; 
    transform: translateX(0);}

section:last-child a:hover{background-color: #B31312!important;
    transform: translatex(50px);}



@media (max-width: 768px) {

    header, #mycarousel {


        height: auto;
        padding: 40px;
    }

    main > .container-fluid:nth-child(2) {
        
        height: auto;
    }
    
    

.header-right{order:-1; padding-top:10px}
.header-left{padding-bottom: 15px;}

}